@using Habitat.Framework.SitecoreExtensions.Extensions
@using Habitat.Framework.SitecoreExtensions.Repositories
@using Habitat.News
@model IEnumerable<Sitecore.Data.Items.Item>
<div class="block clearfix">
  <h3>Latest News</h3>
  <div class="separator-2"></div>
  <ul class="media-list">
    @foreach (var item in Model)
    {
      <li class="media">
        <div class="media-left">
          @Html.Sitecore().ImageField(Templates.NewsArticle.Fields.Image.ToString(), item, 64, 64)
        </div>
        <div class="media-body">
          <h6 class="media-heading">
            <a href="@item.Url()">@Html.Sitecore().Field(Templates.NewsArticle.Fields.Title.ToString(), item)</a>
          </h6>
          <p class="small margin-clear">
            <i class="fa fa-calendar pr-10"></i>@Html.Sitecore().Field(Templates.NewsArticle.Fields.Date.ToString(), item, new { format = "MMMM, yyyy" })
          </p>
        </div>
      </li>
    }
  </ul>
  <a href="@Html.Sitecore().CurrentRendering.Item.Url()" class="btn btn-md btn-gray-transparent btn-animated margin-clear">
    @DictionaryRepository.Get("/news/latest news/read more", "Read more")
    <i class="fa fa-arrow-right pl-20"></i>
  </a>
</div>