@using Habitat.Framework.Assets
@using Habitat.Framework.Assets.Models
@using Sitecore.Mvc.Analytics.Extensions
@inherits WebViewPage
@{
  Layout = null;
}
<!DOCTYPE html>
<!--[if IE 9]><html lang="en" class="ie9 no-js"><![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  @if (!Sitecore.Context.PageMode.IsPageEditor)
  {
    @Html.Sitecore().Placeholder("head")
  }

  <!-- Latest compiled and minified JavaScript -->
  @RenderAssetsService.Current.RenderScript(ScriptLocation.Head)
  @RenderAssetsService.Current.RenderStyles()
  @Html.Sitecore().VisitorIdentification()
</head>

<body class="@(Sitecore.Context.PageMode.IsNormal ? "" : (Sitecore.Context.PageMode.IsPageEditor ? "pagemode-edit" : "pagemode-preview"))">
  <div class="scrollToTop circle">
    <i class="icon-up-open-big"></i>
  </div>
  <div class="page-wrapper">
    <div class="header-container">
      <div class="header-top">
        <div class="container">
          <div class="row">
            <div class="col-xs-3 col-md-6">
              <div class="header-top-first clearfix">
                <div class="pull-left">@Html.Sitecore().Placeholder("topbarleft")</div>
              </div>
            </div>
            <div class="col-xs-9 col-md-6">
              <div id="header-top-second" class="clearfix">
                <div class="header-top-dropdown pull-right">
                  @Html.Sitecore().Placeholder("topbarright")
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <header class="header @(Sitecore.Context.PageMode.IsNormal ? "fixed clearfix" : "")">
        <div class="container">
          <div class="row">
            <div class="col-md-3">
              <!-- header-left start -->
              <!-- ================ -->
              <div class="header-left clearfix">
                @Html.Sitecore().Placeholder("primarymenuheader")
              </div>
              <!-- header-left end -->
            </div>
            <div class="col-md-9">
              <div class="header-right clearfix">
                @Html.Sitecore().Placeholder("navbar")
              </div>
            </div>
          </div>
        </div>
      </header>
    </div>
    <div class="breadcrumb-container">
      <div class="container">
        @Html.Sitecore().Placeholder("breadcrumb")
      </div>
    </div>


    <div class="page-layout">
      @Html.Sitecore().Placeholder("page-layout")
    </div>

    <footer id="footer" class="clearfix">
      @Html.Sitecore().Placeholder("footer")
    </footer>

    <div id="sidebar-wrapper">
      <a href="#sidebar" class="sidebar-toggle">
        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
      </a>
      <div id="sidebar">
        <div class="panel-group">
          @Html.Sitecore().Placeholder("page-sidebar")
        </div>
      </div>
    </div>
  </div>

  @RenderAssetsService.Current.RenderScript(ScriptLocation.Body)
</body>
</html>