@using Habitat.Framework.SitecoreExtensions.Extensions
@using Habitat.Media
@using Habitat.Media.Infrastructure.Repositories
@using Sitecore.Resources.Media
@model Sitecore.Mvc.Presentation.RenderingModel

@{
  var elements = CarouselElementsRepository.Get(Model.Item).ToArray();
  var scrollId = "pagetop_" + Guid.NewGuid().ToString("N");
}

<div class="banner clearfix">
  <div class="slideshow">
    <div class="slider-banner-container">
      <div class="slider-banner-fullwidth-big-height">
        <ul class="slides">
          @foreach (var element in elements)
          {
            <li data-transition="random-static" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="@element.Item[Templates.HasMedia.Fields.Title]">

              @if (element.Item.IsDerived(Templates.HasMediaVideo.ID))
              {
                <img src="@element.Item.ImageUrl(Templates.HasMedia.Fields.Thumbnail, new MediaUrlOptions())" data-bgposition="center top" data-bgrepeat="no-repeat" data-bgfit="cover" />
              }
              else
              {
                <img src="@element.Item.ImageUrl(Templates.HasMediaImage.Fields.Image, new MediaUrlOptions())" data-bgposition="center top" data-bgrepeat="no-repeat" data-bgfit="cover" />
              }

              <div class="tp-caption dark-translucent-bg" data-x="center" data-y="bottom" data-speed="500" data-easing="easeOutQuad" data-start="0"> </div>

              @if (element.Item.IsDerived(Templates.HasMediaVideo.ID))
              {
                <div class="tp-caption tp-fade fadeout fullscreenvideo" data-x="0" data-y="0" data-speed="1000" data-start="1100" data-easing="Power4.easeOut"
                     data-elementdelay="0.01"
                     data-endelementdelay="0.1"
                     data-endspeed="1500"
                     data-endeasing="Power4.easeIn"
                     data-autoplay="true"
                     data-autoplayonlyfirsttime="false"
                     data-nextslideatend="true"
                     data-volume="mute"
                     data-forceCover="1"
                     data-aspectratio="16:9"
                     data-forcerewind="on"
                     style="z-index: 2;">
                  <video class="" preload="none" width="100%" height="100%" poster='videos/video-banner-poster.jpg'>
                    @* TODO: Fix video links *@
                    <source src='videos/background-video-banner.mp4' type='video/mp4'/>
                    <source src='videos/background-video-banner.webm' type='video/webm'/>
                  </video>
                </div>
              }

              <div class="tp-caption sfb fadeout large_white" data-x="left" data-y="100" data-speed="500" data-start="1000" data-easing="easeOutQuad">
                @Html.Sitecore().Field(Templates.HasMedia.Fields.Title.ToString(), element.Item)
              </div>
              <div class="tp-caption sfb fadeout large_white tp-resizeme" data-x="left" data-y="170" data-speed="500" data-start="1300" data-easing="easeOutQuad">
                <div class="separator-2 light"></div>
              </div>
              <div class="tp-caption sfb fadeout medium_white" data-x="left" data-y="190" data-speed="500" data-start="1300" data-easing="easeOutQuad" data-endspeed="600">
                @Html.Sitecore().Field(Templates.HasMedia.Fields.Description.ToString(), element.Item)
              </div>

              @if (element.IsFullScreenImage)
              {
                <div class="tp-caption fade fadeout"
                     data-x="center"
                     data-y="bottom"
                     data-voffset="100"
                     data-speed="500"
                     data-easing="easeOutQuad"
                     data-start="2000"
                     data-endspeed="200">
                  <a href="#@scrollId" class="btn btn-lg moving smooth-scroll"><i class="icon-down-open-big"></i><i class="icon-down-open-big"></i><i class="icon-down-open-big"></i></a>
                </div>
              }
            </li>
          }
        </ul>
        <div class="tp-bannertimer"></div>
      </div>
    </div>
  </div>
</div>
<a id="@scrollId"></a>