@using Habitat.Accounts
@using Habitat.Accounts.Models
@using Habitat.Accounts.Services
@using Habitat.Accounts.Texts
@model Sitecore.Mvc.Presentation.RenderingModel
@if (!(Sitecore.Context.IsLoggedIn && Sitecore.Context.PageMode.IsNormal))
{
  <div class="btn-group">
    <a href="@AccountsSettingsService.Instance.GetPageLink(Model.Item, Templates.AccountsSettings.Fields.RegisterPage)" class="btn btn-default btn-sm"><i class="fa fa-user pr-10"></i> @Captions.Register</a>
  </div>
  <div class="btn-group dropdown">
    <button type="button" class="btn dropdown-toggle btn-default btn-sm" data-toggle="dropdown"><i class="fa fa-lock pr-10"></i> @Captions.Login</button>
    <ul class="dropdown-menu dropdown-menu-right dropdown-animation">
      <li>
        @Html.Partial("../Accounts/LoginDialog", new LoginInfo())
      </li>
    </ul>
  </div>
}
else
{
  <div class="btn-group dropdown">
    <button type="button" class="btn dropdown-toggle btn-default btn-sm" data-toggle="dropdown"><i class="fa fa-lock pr-10"></i> @Captions.Logout</button>
    <ul class="dropdown-menu dropdown-menu-right dropdown-animation">
      <li>
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd>Thomas Eldblom</dd>
          <dt>E-mail</dt>
          <dd>the@sitecore.net</dd>
        </dl>
        @using (Html.BeginForm("Logout", "Accounts", FormMethod.Post, new {@class= "login-form margin-clear"}))
        {
          <a href="/details" class="btn btn-default btn-sm">@Captions.EditDetail</a>
          <input class="btn btn-primary btn-sm" type="submit" value="@Captions.Logout"/>
        }
      </li>
    </ul>
  </div>

}
