@using Habitat.Navigation
@model Habitat.Navigation.Models.NavigationItems

@{
  if (Model == null || Model.Items == null)
  {
    return;
  }
}

<ul class="nav nav-pills nav-stacked">
  @foreach (var item in Model.Items)
  {
    var activeClass = (item.IsActive ? " active" : string.Empty);
    if (item.Level > 1) {
      activeClass += " pl-10";
    }
    <li class="@activeClass">
      @{
        <a href="@item.Url" target="@item.Target">
          @Html.Sitecore().Field(Templates.Navigable.Fields.NavigationTitle.ToString(), item.Item)
        </a>

        var hasChildren = item.IsActive && item.Children != null && item.Children.Items.Any();
        if (hasChildren)
        {
          @Html.Partial("_SecondaryMenuItems", item.Children)
        }
      }
    </li>
  }
</ul>
