@using Habitat.Framework.SitecoreExtensions.Extensions
@using Habitat.Teasers
@model Sitecore.Mvc.Presentation.RenderingModel

<div class="image-box style-2 mb-20 shadow bordered light-gray-bg text-center">
  <div class="overlay-container">
    @Html.Sitecore().ImageField(Templates.TeaserContent.Fields.Image.ToString(), Model.Item, mw: 768, cssClass: "img-responsive")
    <a target="@Model.Item.LinkFieldTarget(Templates.TeaserContent.Fields.Link)" href="@Model.Item.LinkFieldUrl(Templates.TeaserContent.Fields.Link)" title="@Model.Item.LinkFieldText(Templates.TeaserContent.Fields.Link)" class="overlay-link"><i class="fa fa-link"></i></a>
  </div>
  <div class="body">
    <h3>@Html.Sitecore().Field(Templates.TeaserContent.Fields.Title.ToString(), Model.Item)</h3>
    <div class="separator"></div>
    <p>@Html.Sitecore().Field(Templates.TeaserContent.Fields.Summary.ToString(), Model.Item)</p>
    <a target="@Model.Item.LinkFieldTarget(Templates.TeaserContent.Fields.Link)" href="@Model.Item.LinkFieldUrl(Templates.TeaserContent.Fields.Link)" class="btn btn-default btn-sm btn-hvr hvr-shutter-out-horizontal margin-clear">@Model.Item.LinkFieldText(Templates.TeaserContent.Fields.Link)<i class="fa fa-arrow-right pl-10"></i></a>
  </div>
</div>
