@using Habitat.Framework.SitecoreExtensions.Extensions
@using Habitat.Teasers
@model Sitecore.Mvc.Presentation.RenderingModel

<div class="block clearfix">
  <h3 class="title">@Html.Sitecore().Field(Templates.TeaserContent.Fields.Title.ToString(), Model.Item)</h3>
  <div class="separator-2"></div>
  <p>@Html.Sitecore().Field(Templates.TeaserContent.Fields.Summary.ToString(), Model.Item)</p>
  <a target="@Model.Item.LinkFieldTarget(Templates.TeaserContent.Fields.Link)" href="@Model.Item.LinkFieldUrl(Templates.TeaserContent.Fields.Link)" class="btn btn-md btn-gray-transparent btn-animated margin-clear">@Model.Item.LinkFieldText(Templates.TeaserContent.Fields.Link)<i class="fa fa-arrow-right pl-20"></i></a>
</div>